---
layout: page
title: Language Cafe ORAVA
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Language Cafè<br>ORAVA</h1>
          <p class="animated fadeInUp">Sme inovatívni ľudia ktorí majú radi Oravu. Veríme že zaujímavá debata prinesie
            omnho viac úžitku ako krčmové reči v zelenom tričku</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Prečo to robíme</h2>
            <p>Chceme dať šikovným ľuďom na Orave priestor vybehnúť si na kávu s ľuďmi s ktorými si majú čo povedať a
              zároveň majú chuť sa zlepšovať</p>
          </div>
          <!-- <p>Na Orave ziju inteligentni ľudia ktorí bohuzial nemajú k dispozicii možností ako v metropolách</p> -->
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>NÁŠ CIEĽ</h2>
        <p>Chceme vybudovať komunitu ktorá sa zlepšuje po jazykovej stránke a bude symbolom inovácie v regióne Orava</p>
        <!-- <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> -->
        <!-- <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> -->
        <!-- <a href="#" class="btn btn-view-works">View Works</a> -->
      </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Čo robíme</h2>
        <p>Jazyková kaviareň je neformálne stretnutie ľudí ktorí sa rozprávajú o čomkoľvek a kdekoľvek. Rozprávame sa v cudzom jazyku, prevažne v angličtine, ale sme otvorení každému jazyku. Pri kávičke, čaji alebo pive, vždy máme chuť spoznať nových, zaujímavých ľudí</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-12 col-md-4">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Kávička</h4>
          <p>Espresso, Latte, Cappuccino, Ristretto, biela, čierna - nerobíme rozdiely </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Cestovanie</h4>
          <p>Chceme počuť tie legendárne príbehy z tvojich výletov</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>Umenie</h4>
          <p>Obrazy, fotografie - za každou je príbeh</p>
        </div>
      </div>
    </div>
      <!-- <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div> -->
      <!-- <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div> -->
    <div class="row ">
      <div class="col-sm-12 col-md-4">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Ekológia</h4>
          <p>Myslíme na budúcnosť našej planétyy</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Vesmír</h4>
          <p>Sú medzi nami aj ľudia ktorí milujú hlboké debaty o vzniku existencie samotnej</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Language Caffe</h4>
          <p>Prinášame koncept Language café na Oravu ako malú a zároveň veľkú inováciu</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Prid si s nami pokecat...len tak :).</h2>
          <p>Prid sa porozpravat, ukazat nam co robis, chcme vediet kto si! . Mame radi nove napady a zaujimavych ludi ako si ty. </p>
          <a class="btn btn-default btn-call-to-action" href="https://www.facebook.com/jozef.chmelar">Prid na nase eventy</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <!-- {% if site.data.funfacts.size > 0 %} -->
          {% if site.data.funfacts.size > 1000 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
              <img src="img/cotation.png" alt="IMG">
              <p>{{ tm.testimonial }}</p>
              <div class="user">
                <img src="{{ tm.image }}" alt="Pepole">
                <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>